<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.rest.RESTServicePlugin</class>
    <name>REST API (SBRW)</name>
    <description>Allows administration over a RESTful API. Updated for SBRW servers.</description>
    <author>SBRW/Roman Soldatow</author>
    <version>1.3.10-SNAPSHOT</version>
    <date>12/27/2019</date>
    <minServerVersion>4.5.0</minServerVersion>
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="rest-api" name="REST API (SBRW)" url="rest-api.jsp"
                     description="Click to manage the service that allows to configure the Openfire over a RESTFul API" />
            </sidebar>
        </tab>
    </adminconsole>

</plugin>
